<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_BLL.Properties.Settings.QL_SieuThiMiniConnectionString"
            connectionString="Data Source=DESKTOP-FE8MHRS\SQLEXPRESS;Initial Catalog=QL_SieuThiMini;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>